body{
    background-image: url(https://a.rgbimg.com/users/x/xy/xymonau/600/oyWxNdw.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-family: 'Roboto',sans-serif;
    background-attachment: fixed;
}

 ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    float: left;
}

.input-icono{
    padding: 0;
}

.nav-hide:hover{
   background: #a945c7;
   box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: rgb(226, 171, 19);
}

