h2{
    border-top: 1px solid red;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
  border-left: 1px solid red;
  color: blue;
}

.tabla{
    border-top: 1px solid red; 
}

body{
  background-image: url(	);
  background-repeat: no-repeat;
  background-size: 100% auto;
  font-family: 'Roboto',sans-serif;
  background-attachment: fixed;
}